<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.2.3"
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">

	
    <name>BAI project</name>
    <description>
        Dowlnload new paperwall based on location!
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        BAI group
    </author>


    <access origin="*" />


	<platform name="android">
	  <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
	      <application android:usesCleartextTraffic="true" />
	  </edit-config>
	</platform>

<preference name="android-minSdkVersion" value="26" />
</widget>
